body {
    // background-color: #6f00f0;
    height: 2800px;
    overflow-x: hidden;
    // >* {
    //     min-height: 50px;
    // }
}
* {
    // outline: 1px solid cornflowerblue;
    // min-height: 50px;
    // transition:  0.5s ;
}

.text-violet {
    color: #523ee8;
}
.bg-violet {
    background-color: #523ee8;
}
#headerTop {
    height: 52px;
    background-color: #0005;
}

    li:hover {
        color: #ff9600 ;
    }

    a:hover,a:focus {
        color: #ff9600 !important;
    }

#mainHeader {
    height: 100px;
    *>ul>li {
        position:relative; 
        
        &:hover  .sub-menu {
            display: flex !important;
        }
    }
    .sub-menu {
        display: none !important;
        width: 130%;
        position:absolute;
        left:-10%; 
        top:100%;
        >li{
            height: 40px ;
        }
    }
}


.spacer-h40 {
    width: 100%;
    height: 40px;
}

.spacer-h80 {
    width: 100%;
    height: 80px; 
}

#topSection {
    line-height: 2;
    letter-spacing: 1px;
    &::before {
        content: ''; 
        position:absolute ; left:-10%; top:0; right:10%; bottom:-140px;
        z-index: -100;
        width: 120%;
        background-color: #6f42ec;
        border-bottom-left-radius: 30% 15%;
        border-bottom-right-radius: 70% ;
        @media screen and (max-width:768px)  {
            & {
                border-radius: 0;
                bottom:-340px;
            }
        }
    }
}

#submitTop  {
    overflow:hidden ; 
    height: 50px;
    position:relative ;
    input {
        height: 50px;
    }
    label {
        width: 100%;
        height: 50px;
        line-height: 1;
    }
    button {
        height: 50px;
        border-radius: 25px 0 0 25px !important;
        position:absolute ; 
        right: 0 ; top :0; 
    }
}

.number-img {
    display: inline-block;
    width: 109px;
    height: 91px;
    background-repeat: no-repeat;
    font-size: 2rem;
    line-height: 3;
    color: white;
    margin-bottom: 10px
}

#sectionThird {
    position:relative; 
    &::before {
        content: ''; 
        position:absolute ; left:-20%; top:80px; right:-20%; bottom:-100px;
        z-index: -100;
        // width: 120%;
        background-image: repeating-linear-gradient(to bottom right ,#8372e2 20% ,#5572e2 40%, #8372e2 60%) ;
        border-top-left-radius: 50% 15%;
        border-top-right-radius: 50% 10%;
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 15%;  
        @media screen and (max-width:768px) {
            & {
                border-radius:0;
                // bottom:
            }
        }

    }
    .iconbox {
        height: 104px;
    }
}